*.doc*
OpenSceneGraph-vs2015
.vs
glut
SolutionRunMe.bat
Data/Catch
Data/Configuration
Data/Cubemap_axis
Data/Cubemap_snow
Data/ExampleThumbnails
Data/fonts
Data/Images
Data/osgWidget
Data/Present3D
Data/shaders
Data/SolarSystem
*.osg*
*.OSGB
*.jpg
*.p3d
*.ac
*.bak
Data/osg.conf
Data/README
Data/*.rar
*.logo
*.max
bscCGOSG-Template/Debug
bscCGOSG-Template/ipch
bscCGOSG-Template/x64
bscCGOSG-Template.VC.db
bscCGOSG-Template/bscCGOSG-Template/x64
bscCGOSG-Template/bscCGOSG-Template/Debug
bscCGOSG-Template/bscCGOSG-Template/raaAinimatedComponent.*
bscCGOSG-Template/bscCGOSG-Template.VC.VC.opendb
